header{
background-color:#FAFA;
}
h1{
text-align:center;
color: #AFAF;
} 
h2{
    color: #bababa;
}

section{
    background-color: #ba11ba;
}
a{
    background-color:rgb(136, 34, 119);
    color:rgb(16, 100, 119);
}